<?xml version="1.0" ?>
<robot name="MeshyRobotQuadruped">

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="6.841765720973432"/>
    <inertia ixx="0.021998787371559594" iyy="0.15197472771686615" izz="0.15588539005095245" ixy="0.0010967935979691087" iyz="-0.0002568919115235476" ixz="-0.0028035042646559942"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg1_1">
  <inertial>
    <origin xyz="-0.156033 -0.104202 -0.067954" rpy="0 0 0"/>
    <mass value="0.8669458874711428"/>
    <inertia ixx="0.0019084575607314497" iyy="0.001470477100254143" izz="0.0017846645581706816" ixy="-0.0004378584077222164" iyz="0.00029125459547272095" ixz="0.00018955230624570843"/>
  </inertial>
  <visual>
    <origin xyz="-0.156033 -0.104202 -0.067954" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.156033 -0.104202 -0.067954" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg2_1">
  <inertial>
    <origin xyz="0.151443 -0.104202 -0.064168" rpy="0 0 0"/>
    <mass value="0.9387074766633422"/>
    <inertia ixx="0.002292196186461419" iyy="0.0018010217740769482" izz="0.002214134226441053" ixy="0.0005930447526068042" iyz="0.00027763425143794915" ixz="-0.0003027750799108088"/>
  </inertial>
  <visual>
    <origin xyz="0.151443 -0.104202 -0.064168" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.151443 -0.104202 -0.064168" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg3_1">
  <inertial>
    <origin xyz="-0.151785 0.104202 -0.065625" rpy="0 0 0"/>
    <mass value="0.8440040083075118"/>
    <inertia ixx="0.0018538856818639746" iyy="0.0014032173064622462" izz="0.0016124624550602623" ixy="0.00033951684995903175" iyz="-0.00027219069852404444" ixz="0.00016640633278108136"/>
  </inertial>
  <visual>
    <origin xyz="-0.151785 0.104202 -0.065625" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.151785 0.104202 -0.065625" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg4_1">
  <inertial>
    <origin xyz="0.152403 0.104202 -0.068113" rpy="0 0 0"/>
    <mass value="0.8403579435917458"/>
    <inertia ixx="0.0016677426035151648" iyy="0.0015260228550332787" izz="0.001520874598569713" ixy="-0.00035893694768555223" iyz="-0.0002697044735077963" ixz="-0.00020931139819081734"/>
  </inertial>
  <visual>
    <origin xyz="0.152403 0.104202 -0.068113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.152403 0.104202 -0.068113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot1_1">
  <inertial>
    <origin xyz="-0.203961 -0.218157 0.020131" rpy="0 0 0"/>
    <mass value="0.9233327060087292"/>
    <inertia ixx="0.004120265022218406" iyy="0.003998911159628762" izz="0.0014796159517841967" ixy="-0.00025904041950068624" iyz="0.0009234870690703126" ixz="0.000638078875174905"/>
  </inertial>
  <visual>
    <origin xyz="-0.203961 -0.218157 0.020131" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.203961 -0.218157 0.020131" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot2_1">
  <inertial>
    <origin xyz="0.212839 -0.227344 0.020096" rpy="0 0 0"/>
    <mass value="0.9115851944240474"/>
    <inertia ixx="0.0030765735481937673" iyy="0.003409698163466063" izz="0.0017992643301641686" ixy="0.00038402310290792246" iyz="0.0005956759544919962" ixz="-0.0009914043982743315"/>
  </inertial>
  <visual>
    <origin xyz="0.212839 -0.227344 0.020096" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.212839 -0.227344 0.020096" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot3_1">
  <inertial>
    <origin xyz="-0.198657 0.217069 0.02013" rpy="0 0 0"/>
    <mass value="0.9107021529610214"/>
    <inertia ixx="0.003977197334912572" iyy="0.003833636206079183" izz="0.0014861155699444628" ixy="0.0002617289809055401" iyz="-0.0008991307438943469" ixz="0.0006637492247041528"/>
  </inertial>
  <visual>
    <origin xyz="-0.198657 0.217069 0.02013" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.198657 0.217069 0.02013" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot4_1">
  <inertial>
    <origin xyz="0.204547 0.206892 0.020125" rpy="0 0 0"/>
    <mass value="0.9459982710024646"/>
    <inertia ixx="0.00400782978987918" iyy="0.004005756832712357" izz="0.0015963634557163292" ixy="-0.00030820250783385184" iyz="-0.0008592865770953376" ixz="-0.0008574530652733017"/>
  </inertial>
  <visual>
    <origin xyz="0.204547 0.206892 0.020125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.204547 0.206892 0.020125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 5" type="revolute">
  <origin xyz="0.156033 0.104202 0.067954" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg1_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 5_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 5">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 5_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 6" type="revolute">
  <origin xyz="-0.151443 0.104202 0.064168" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg2_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 6_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 6">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 6_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 7" type="revolute">
  <origin xyz="0.151785 -0.104202 0.065625" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg3_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 7_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 7">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 7_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 8" type="revolute">
  <origin xyz="-0.152403 -0.104202 0.068113" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg4_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 8_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 8">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 8_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 9" type="revolute">
  <origin xyz="0.047928 0.113955 -0.088085" rpy="0 0 0"/>
  <parent link="leg1_1"/>
  <child link="foot1_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 9_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 9">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 9_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 10" type="revolute">
  <origin xyz="-0.061396 0.123142 -0.084264" rpy="0 0 0"/>
  <parent link="leg2_1"/>
  <child link="foot2_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 10_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 10">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 10_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 11" type="revolute">
  <origin xyz="0.046872 -0.112867 -0.085755" rpy="0 0 0"/>
  <parent link="leg3_1"/>
  <child link="foot3_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 11_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 11">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 11_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 12" type="revolute">
  <origin xyz="-0.052144 -0.10269 -0.088238" rpy="0 0 0"/>
  <parent link="leg4_1"/>
  <child link="foot4_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 12_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 12">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 12_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>
