<?xml version="1.0" ?>
<robot name="RobotDog">

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="4.944006724025301"/>
    <inertia ixx="0.013068633825971874" iyy="0.08803654740619468" izz="0.08484521533790042" ixy="0.0006569205050025995" iyz="0.00011903767920557932" ixz="-0.0043542158516784914"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg1_1">
  <inertial>
    <origin xyz="-0.108728 -0.086125 -0.03886" rpy="0 0 0"/>
    <mass value="0.17635098126357945"/>
    <inertia ixx="0.000257556307641411" iyy="0.00028355988220532796" izz="6.1658515570529e-05" ixy="-6.905459371550973e-07" iyz="3.2422216219538146e-06" ixz="-7.962671147490857e-07"/>
  </inertial>
  <visual>
    <origin xyz="-0.108728 -0.086125 -0.03886" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.108728 -0.086125 -0.03886" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg2_1">
  <inertial>
    <origin xyz="0.134347 -0.086125 -0.038955" rpy="0 0 0"/>
    <mass value="0.21988900237553521"/>
    <inertia ixx="0.0003018868901724604" iyy="0.0003380556945018279" izz="9.913911461792435e-05" ixy="2.6722106544782402e-06" iyz="2.9804497865372492e-05" ixz="-1.261715126454427e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.134347 -0.086125 -0.038955" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.134347 -0.086125 -0.038955" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg3_1">
  <inertial>
    <origin xyz="-0.102253 0.086125 -0.041624" rpy="0 0 0"/>
    <mass value="0.2124436301601684"/>
    <inertia ixx="0.0003038108229708645" iyy="0.00033477478704116307" izz="8.903877790008945e-05" ixy="5.563117812332902e-07" iyz="-2.6244416624227062e-05" ixz="4.740653695237845e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.102253 0.086125 -0.041624" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.102253 0.086125 -0.041624" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leg4_1">
  <inertial>
    <origin xyz="0.144982 0.086125 -0.03761" rpy="0 0 0"/>
    <mass value="0.16803507345033536"/>
    <inertia ixx="0.000233135738970644" iyy="0.0002578698077087406" izz="5.632356757126998e-05" ixy="-2.878202624615432e-07" iyz="-7.351883954747186e-06" ixz="8.312906133240068e-07"/>
  </inertial>
  <visual>
    <origin xyz="0.144982 0.086125 -0.03761" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.144982 0.086125 -0.03761" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/leg4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot1_1">
  <inertial>
    <origin xyz="-0.10802 -0.120533 0.061009" rpy="0 0 0"/>
    <mass value="0.4197478789995662"/>
    <inertia ixx="0.0006568980308908848" iyy="0.0012130802809138738" izz="0.0007654275169628605" ixy="-8.87698260668493e-06" iyz="9.84617748643439e-06" ixz="0.0005028029484198688"/>
  </inertial>
  <visual>
    <origin xyz="-0.10802 -0.120533 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.10802 -0.120533 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot2_1">
  <inertial>
    <origin xyz="0.142413 -0.132758 0.061009" rpy="0 0 0"/>
    <mass value="0.4725136412635692"/>
    <inertia ixx="0.0008942612498513448" iyy="0.0014362796619221269" izz="0.0007738208937411832" ixy="2.588853288451945e-05" iyz="3.002262491627085e-05" ixz="-0.0004468415567392744"/>
  </inertial>
  <visual>
    <origin xyz="0.142413 -0.132758 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.142413 -0.132758 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot3_1">
  <inertial>
    <origin xyz="-0.103793 0.131521 0.061009" rpy="0 0 0"/>
    <mass value="0.39949807856162617"/>
    <inertia ixx="0.0005587831898407856" iyy="0.0010518776327046626" izz="0.0006940924676289636" ixy="1.203976673111104e-05" iyz="-1.1540259697796242e-05" ixz="0.0004252328517385783"/>
  </inertial>
  <visual>
    <origin xyz="-0.103793 0.131521 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.103793 0.131521 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot4_1">
  <inertial>
    <origin xyz="0.143602 0.121679 0.061009" rpy="0 0 0"/>
    <mass value="0.47989575308955273"/>
    <inertia ixx="0.0009695943456061" iyy="0.001553049212715138" izz="0.00081337999067424" ixy="1.2974184452859902e-05" iyz="1.5042560526416782e-05" ixz="-0.0005143394400318087"/>
  </inertial>
  <visual>
    <origin xyz="0.143602 0.121679 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.143602 0.121679 0.061009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/foot4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="revolute">
  <origin xyz="0.108728 0.086125 0.03886" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg1_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 1_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 1">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 1_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 2" type="revolute">
  <origin xyz="-0.134347 0.086125 0.038955" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 2_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 2">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 2_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 3" type="revolute">
  <origin xyz="0.102253 -0.086125 0.041624" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg3_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 3_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 3">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 3_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 4" type="revolute">
  <origin xyz="-0.144982 -0.086125 0.03761" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="leg4_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 4_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 4">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 4_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 5" type="revolute">
  <origin xyz="-0.000708 0.034408 -0.099869" rpy="0 0 0"/>
  <parent link="leg1_1"/>
  <child link="foot1_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 5_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 5">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 5_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 6" type="revolute">
  <origin xyz="-0.008066 0.046633 -0.099964" rpy="0 0 0"/>
  <parent link="leg2_1"/>
  <child link="foot2_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 6_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 6">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 6_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 7" type="revolute">
  <origin xyz="0.00154 -0.045396 -0.102633" rpy="0 0 0"/>
  <parent link="leg3_1"/>
  <child link="foot3_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 7_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 7">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 7_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<joint name="Revolute 8" type="revolute">
  <origin xyz="0.00138 -0.035554 -0.098619" rpy="0 0 0"/>
  <parent link="leg4_1"/>
  <child link="foot4_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="0.0" lower="0.0" effort="3.8" velocity="5.4"/>
</joint>
<transmission name="Revolute 8_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="Revolute 8">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
  </joint>
  <actuator name="Revolute 8_actr">
    <hardwareInterface>PositionJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>
